@import url('https://fonts.googleapis.com/css?family=Noto+Serif|Rock+Salt');
@import url('reset.css');
@import url('animations.css');

:root {
    /* colour scheme */
    --turqoise: #072620;
    --brown: #594827;
    --ocker: #BF8E63;
    --camel: #A6785D;
    --gray: #BFADA8;
    scroll-behavior: smooth;
}

header {
    text-align: center;
    letter-spacing: .2em;
    color: var(--turqoise);
}

h1 {
    font-family: 'Rock Salt',
        cursive;
    font-size: 2em;
    animation: pulse 10s infinite;
}

#menu__toggle {
    display: none;
}

#menu__link {
    display: block;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
    padding-bottom: 0.33em;
}

nav {
    display: none;
}

.menu__item {
    display: block;
    text-transform: lowercase;
    padding: 0.5em;
}

/* Show the menu when the checkbox is checked */
#menu__toggle:checked+#menu__link+nav {
    display: block;
}

#menu__toggle:checked+#menu__link::before {
    content: "Close ";
}

#home {
    background:
        linear-gradient(201deg, var(--ocker), var(--camel)), url('noise.svg');
    color: var(--brown);
    text-shadow: 1px 1px 1px var(--camel);
    height: 80vh;
    position: relative;
    box-shadow:
        inset 0px 10px 5px -10px #594827,
        inset 0px -10px 5px -10px #594827;
}


#home__text {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    font-size: 2rem;
    font-style: italic;
    font-weight: 200;
    left: 1em;
    right: 1em;
}

.home__link {
    font-style: normal;
    border-bottom: 1px solid var(--turqoise);
    padding-bottom: 1px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 3px;
}

.home__link:hover {
    color: var(--turqoise);
    border-color: var(--brown);
}
