/* toys is for the page with all the toys, toy for the individual toy page */

figure {
    position: relative;
}

.right {
    float: right;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.field__thumbnail {
    max-width: 100%;
    box-shadow: var(--drop-shadow-subtle);
}

.field__description {
    font-family: var(--sans-font);
    font-size: 0.66em;
    background-color: rgba(255, 255, 255, 1);
    text-align: left;
    box-shadow: var(--drop-shadow-subtle);
    padding: var(--margin-medium);
    color: var(--turquoise);

}

.field__name {
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
}


.toys__maker, .toys__price {
    opacity: 0.66;
}

.toys__price {
    float: right;
    padding-right: var(--margin-medium);
    opacity: 0.8;
}

.overlay:target {
    display: block;
}

.overlay {
    display: none;
    position: absolute;
    top: 0px;
    padding: calc(3*var(--margin-large));
    width: 100%;
    min-height: 100%;
    max-height: 100%;
    z-index: 150;
    overflow-y: scroll;
    background-color: rgba(271, 269, 269, 0.95);
    box-shadow:
        inset 0 10px 5px -10px var(--brown),
        inset 0 -10px 5px -10px var(--brown);
}

.overlay p {
    font-family: var(--sans-font);
    font-size: 1em;
    line-height: 1.5em;
    text-align: justify;
    margin-bottom: var(--margin-medium);
}

.field__name {
    font-family: var(--serif-font);
    font-size: 1.2em;
}

.close {
    float: right;
    margin-top: 1em;
    text-transform: uppercase;
    font-family: var(--serif-font);
    letter-spacing: var(--letter-spacing);
}

.gallery__thumbnails {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: calc(2*var(--margin-large));
    padding-top: var(--margin-large);
    padding-bottom: var(--margin-large);
}

.gallery__main {
    box-shadow: var(--drop-shadow-subtle);
}

.gallery__thumbnail {
    box-shadow: var(--drop-shadow-subtle);
    filter: grayscale(90%);
    cursor: pointer;
    transition: filter 0.3s;
}

.gallery__thumbnail:hover {
    filter: grayscale(0%);
}

.field__name {
    text-transform: uppercase;
}

.field__info em {
    font-style: italic;
}

.field__info a {
    border-bottom: 1px solid var(--turquoise);
    color: var(--brown);
}

.field__info a:hover {
    border-bottom: 1px solid var(--brown);
    color: var(--ocker);
    transition: var(--allegro);
}

.field__info abbr {
    font-style: normal;
    text-decoration: none;
}

.field__info abbr::after {
    content: " (" attr(title) ")";
    font-style: italic;
}

.toy__maker {
    display: inline-block;
    font-style: italic;
    opacity: 0.66;
    margin-top: var(--margin-small);
}

model-viewer {
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    background-color: var(--turquoise);
}

.gallery__main-img {
    display: none;
}

.toy__info p:last-child {
    padding-bottom: var(--margin-large);
    margin-bottom: var(--margin-large);
}

.utensils__disclaimer {
    font-style: italic;
    color: rgb(187, 180, 172);
    text-align: justify;
    display: flex;
    align-items: center;
    background-color: var(--turquoise);
    padding: var(--margin-large)
}


html:lang(jp) p {
    font-style: normal;
}

#utensils__categories {
    grid-column: 1/-1;
    margin: 0 auto;
    margin-top: calc(-1* var(--margin-medium));
    font-family: var(--serif-font);
}

.utensils__category:not(:last-child)::after {
    content: "";
    margin-left: var(--margin-large);
    margin-right: var(--margin-large);
}

.utensils__category {
    font-size: 1em;
    cursor: pointer;
}

#utensils__categories input {
    display: none;
}

input[type="checkbox"]:checked+label {
    font-weight: bold;
}

#about .gallery {
    margin-bottom: var(--margin-large)
}
