/* toys is for the page with all the toys, toy for the individual toy page */

figure {
    position: relative;
}

.right {
    float: right;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.field__thumbnail {
    max-width: 100%;
    box-shadow: var(--drop-shadow-subtle);
}

.field__description {
    font-family: 'Noto Sans Japanese', sans-serif;
    font-size: 0.66em;
    background-color: rgba(255, 255, 255, 1);
    text-align: left;
    box-shadow: var(--drop-shadow-subtle);
    padding: var(--margin-medium);
    color: var(--turquoise);
}

.field__name {
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
}

.toys__maker, .toys__price {
    opacity: 0.66;
}

.toys__price {
    float: right;
    padding-right: var(--margin-medium);
}

.gallery__thumbnails {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: calc(2*var(--margin-large));
    padding-top: var(--margin-large);
    padding-bottom: var(--margin-large);
}

.gallery__main {
    box-shadow: var(--drop-shadow-subtle);
}

.gallery__thumbnail {
    box-shadow: var(--drop-shadow-subtle);
    filter: grayscale(80%);
    cursor: pointer;
    transition: filter 0.3s;
}

.gallery__thumbnail:hover {
    filter: grayscale(0%);
}

.toy__name {
    text-transform: uppercase;
    letter-spacing: calc(0.5* var(--letter-spacing));
}

.toy__info em {
    font-style: normal;
}

.toy__info abbr {
    font-style: normal;
    text-decoration: none;

}

.toy__info abbr::after {
    content: " (" attr(title) ")";
    font-style: italic;
}

.toy__maker {
    display: inline-block;
    font-style: italic;
    margin-bottom: var(--margin-medium);
}

model-viewer {
    width: 100%;
    background-color: var(--turquoise);
}

.gallery__main-img {
    display: none;
}

.toy__info p:last-child {
    padding-bottom: var(--margin-large);
    margin-bottom: var(--margin-large);
}

.toy__button {
    border: 1px solid var(--turquoise);
    background-color: transparent;
    width: 100%;
    margin-top: var(--margin-large);
    padding: var(--margin-large);
    transition: background-color 0.3s;
    cursor: pointer;
    font-family: sans-serif;
    display: flow-root;
    text-align: center;
}

.toy__button:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

html:lang(jp) p {
    font-style: normal;
}
