@import url('https://fonts.googleapis.com/css?family=Rock+Salt|Hachi+Maru+Pop');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
@import url('reset.css');
@import url('animations.css');
@import url('header.css');
@import url('checkerboard.css');
@import url('order.css');
@import url('jp.css');

:root {
    --turquoise: rgb(7, 38, 32);
    --brown: rgb(89, 72, 39);
    --ocker: rgb(191, 142, 99);
    --camel: rgb(166, 120, 93);

    --letter-spacing: 0.15em;
    --fun-font: 'Rock Salt', 'Hachi Maru Pop', cursive;
    --serif-font: 'Cormorant Garamond', serif;
    --serif-font-jp: "Noto Serif JP", serif;
    --sans-font: 'Helvetica Neue', "Helvetica", sans-serif;

    --margin-very-small: 0.1em;
    --margin-small: 0.25em;
    --margin-medium: 0.5em;
    --margin-large: 1em;

    --drop-shadow-subtle: 0 2px 5px rgba(0, 0, 0, 0.1);

    --allegro: 0.25s;

    scroll-behavior: smooth;
}

section {
    position: relative;
    /* ocker very pale */
    background-color: RGBA(191,
                142,
                99,
                0.1);
    box-shadow:
        inset 0 10px 5px -10px var(--brown),
        inset 0 -10px 5px -10px var(--brown);
    display: grid; /* overwritten in #home */
    grid-template-columns: repeat(2, 1fr);
    gap: var(--margin-large);
    padding: var(--margin-large);
}

#home {
    display: block;
    font-family: var(--serif-font);
    color: var(--brown);
    text-shadow: 1px 1px 1px var(--camel);
    height: 80vh;
    background: linear-gradient(201deg, var(--ocker), var(--camel)), url('noise.svg');
}


#home__text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    font-style: italic;
    font-weight: 300;
    left: 1em;
    right: 1em;
}

lang[jp] {
    font-family: 'Noto Sans Japanese', sans-serif;
}

.home__link {
    font-style: normal;
    border-bottom: 1px solid var(--turquoise);
    padding-bottom: 0.5px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: var(--margin-very-small);
}

.home__link:hover {
    color: var(--turquoise);
    border-color: var(--brown);
}

.menu__item:hover, .menu__active {
    color: var(--brown);
    transition: var(--allegro);
}

#about p {
    font-family: var(--sans-font);
    font-size: 1em;
    line-height: 1.5em;
    text-align: justify;
    margin-top: var(--margin-large);
}

.toys__thumbnail.past {
    filter: grayscale(100%);
}

#about {
    display: block;
}

.button {
    border: 1px solid var(--turquoise);
    background-color: rgba(0, 0, 0, 0.05);
    width: 100%;
    margin-top: var(--margin-large);
    padding: var(--margin-large);
    transition: background-color 0.3s;
    cursor: pointer;
    font-family: sans-serif;
    display: flow-root;
    text-align: center;
}

.button:hover {
    background-color: rgba(0, 0, 0, 0.10);
}
