h1 {
    margin-top: calc(-1 * var(--margin-small));
    font-size: 3em;
}

summary {
    display: none;
}

details {
    display: block;
}

.menu__item {
    display: inline;
    text-transform: uppercase;
    letter-spacing: var(--margin-very-small);
    margin: var(--margin-medium);
}

.menu__item:hover {
    color: var(--brown);
    transition: var(--allegro);
}

ul {
    margin-bottom: var(--margin-small);
}

details[open] summary~* {
    animation: none;
}

#toys {
    grid-template-columns: repeat(3, 1fr);
}

.toy:target {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: var(--margin-large);
}

.gallery {
    grid-column: 1 / span 2;
}

.toy__info {
    grid-column: 3 / span 3;
}

.toy__info abbr {
    border-bottom: 1px dotted var(--brown);
}

.toy__info abbr::after {
    content: none;
}
