h1 {
    margin-top: calc(-1 * var(--margin-small));
    font-size: 3em;
}

summary {
    display: none;
}

details {
    display: block;
}

.menu__item {
    display: inline;
    text-transform: uppercase;
    letter-spacing: var(--margin-very-small);
    margin: var(--margin-medium);
}

ul {
    margin-bottom: var(--margin-small);
}

details[open] summary~* {
    animation: none;
}

section {
    grid-template-columns: repeat(3, 1fr);
}

.overlay:target {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: calc(3 * var(--margin-large));
}

#about {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: calc(2 * var(--margin-large));
}

.gallery {
    grid-column: 1 / span 2;
}

.field__info {
    grid-column: 3 / span 3;
}

.field__info abbr {
    border-bottom: 1px dotted var(--brown);
}

.field__info abbr::after {
    content: none;
}

.principle__thumbnail {
    filter: grayscale(100%);
    transition: filter var(--allegro) ease;
}

.principle__thumbnail:hover {
    filter: none;
    transition: filter var(--allegro) ease;
}

.toys__thumbnail {
    filter: grayscale(25%) saturate(75%);
    transition: filter var(--allegro) ease;
}

.toys__thumbnail:hover {
    filter: none;
    transition: filter var(--allegro) ease;
}

@media (hover: none) {
    .field__info abbr::after {
            content: " (" attr(title) ")";
            font-style: italic;
        }
}
