<!DOCTYPE html>
<html lang="{{language}}">

<head>
    <title>{{ikean}} | {{meta__tagline}}</title>

    <!-- meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{meta__description}}">
    <meta name="keywords" content="{{meta__keywords}}">

    <!-- styles -->
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🛖</text></svg>">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" media="(min-width: 768px)" href="../css/styles-768.css">

    <!-- js -->
    <script src="../scripts.js"></script>
    <script type="module" src="https://ajax.googleapis.com/ajax/libs/model-viewer/3.5.0/model-viewer.min.js"></script>

    <!-- i18n -->
    <link rel="canonical" href="https://www.ikean.ch/en/{{page}}">
    <link rel="alternate" hreflang="en" href="https://www.ikean.ch/en/{{page}}">
    <link rel="alternate" hreflang="de" href="https://www.ikean.ch/de/{{page}}">
    <link rel="alternate" hreflang="ja" href="https://www.ikean.ch/ja/{{page}}">
</head>

<body>
    <header>
        <h1><a href="home.html">{{ikean}}</a></h1>
        <nav class="menu">
            <details>
                <summary>{{menu__menu}}</summary>
                <ul>
                    <!-- <li class="menu__item"><a href="">{{menu__presentations}}</a></li> -->
                    <li class="menu__item {{'menu__active' if page == 'aspects' }}"><a
                            href="aspects.html">{{menu__aspects}}</a></li>
                    <li class="menu__item {{'menu__active' if page == 'toys' }}"><a href="toys.html">{{menu__toys}}</a>
                    </li>
                    <li class="menu__item {{'menu__active' if page == 'contact' }}"><a
                            href="contact.html">{{menu__contact}}</a></li>
                    <li class="menu__item">{% for target_language in ["en", "de", "jp"] %}{% if target_language !=
                        language %}<a href="../{{target_language}}/{{page}}.html"
                            class="menu__language">{{target_language}}</a>{% endif %}{% endfor %}
                    </li>
                </ul>
            </details>
        </nav>
    </header>

    <section id="{{page}}">
        {% block content %}{% endblock %}
    </section>
</body>

</html>
