{% extends "base.html" %}

{% block content %}
{% for field in checkerboard %}
<figure>
    <a href="#{{field.id}}">
        <img class="toys__thumbnail" src="../../{{page}}/{{field.id}}/{{field.image}}" alt="{{field.alt}}" />

        <figcaption class="toys__description">
            <h2 class="toys__name clearfix">Comportment<span class="right">「点前」</span></h2>
        </figcaption>
    </a>
</figure>

<div class="overlay" id="temae">

    <h2 class="toy__name">The Village where Flowers Fall<span class="right">「花散里」</span></h2>

    <p>This tea scoop is made from sooty bamboo. It shares the name with chapter 11 in the famous Tale of
        Genji: <abbr title="hana chiru sato">花散里</abbr>, which means <em>flowers scattered across the
            village</em>. In this chapter, Prince Genji spends a rainy summer afternoon speaking about the
        days of yore and enjoying the scent of the fallen citrus blossoms called <abbr title="tachibana">橘</abbr>.</p>
    <p>I think that in this tea scoop you find a similar strength and melancholy. It is particularly
        suitable for summer; and comes with a paper box and paper <em>shifuku</em>. The square paper and
        <em>natsume</em> are just for comparison and not included.
    </p>
    </p>



    <a class="close" href="#aspects">{{gridobject__close}}</a>
</div>
