{% extends "base.html" %}

{% block content %}
{% for toy in toys %}
<figure>
    <a href="#{{toy.id}}">
        <img class="toys__thumbnail" src="../../toys/{{toy.id}}/{{toy.images[0]}}" alt="{{toy.alt}}" />
    </a>
    <figcaption class="toys__description">
        <h2 class="toys__name">{{toy.name[language]}}</h2>
        <span class="toys__maker">{% if "maker" in toy %}made by {{toy.maker[language]}}{% else %}maker unknown{% endif
            %}</span>
        <span class="toys__price">{{toy.price}} CHF</span>
    </figcaption>
</figure>

<div class="toy" id="{{toy.id}}">
    <div class="gallery__main">
        {% if "model" in toy %}
        <model-viewer class="gallery__main-model" alt="{{toy.alt}}" src="../../toys/{{toy.id}}/{{toy.model}}" ar
            auto-rotate shadow-intensity="1" camera-controls touch-action="pan-y"></model-viewer>

        <img class="gallery__main-img" src="../../toys/{{toy.id}}/{{toy.poster}}" alt="{{toy.alt}}">
        {% else %}
        <img class="gallery__main-img" src="../../toys/{{toy.id}}/{{toy.images[0]}}" alt="{{toy.alt}}"
            style="display: block">
        {%endif%}
    </div>
    <div class="gallery">
        {% for image in toy.images %}
        <img src="../../toys/{{toy.id}}/{{image}}" alt="{{toy.alt}}" onclick="changeMainImage('{{toy.id}}',this)">
        {% endfor %}
    </div>

    <h2 class="toy__name">{{toy.name[language]}}</h2>
    {% if "maker" in toy %}<span class="toy__maker">made by {{toy.maker[language]}}</span>{% endif %}

    <p>{{toy.description[language]}}</p>

    <a class="toy__close" href="#toys">Close</a>

</div>
{% endfor %}
{% endblock %}
